.font10 {
    font-size: 10px;
}

.font11 {
    font-size: 11px;
}

.font12 {
    font-size: 12px !important;
}

.font13 {
    font-size: 13px;
}

.font14 {
    font-size: 14px !important;
}

.font15 {
    font-size: 15px !important;
}

.font16 {
    font-size: 16px !important;
}

.font17 {
    font-size: 17px !important;
}

.font18 {
    font-size: 18px !important;
}

.font20 {
    font-size: 20px !important;
}

.font22 {
    font-size: 22px !important;
}

.font23 {
    font-size: 23px !important;
}

.font24 {
    font-size: 24px !important;
}

.font26 {
    font-size: 26px !important;
}

.font28 {
    font-size: 28px !important;
}

.font30 {
    font-size: 30px !important;
}

.font40 {
    font-size: 40px !important;
}

.font600 {
    font-weight: 600;
}

.font600 {
    font-weight: 600;
}

.font100 {
    font-weight: 100;
}

.font200 {
    font-weight: 200;
}

.font300 {
    font-weight: 300;
}

.font400 {
    font-weight: 400;
}

.font500 {
    font-weight: 500;
}

.font600 {
    font-weight: 600;
}

.font700 {
    font-weight: 700;
}

.font800 {
    font-weight: 800;
}

.font900 {
    font-weight: 900;
}

.color-font {
    color: #ADB5BD;
}

.color-bottom {
    color: #7A4B4B;
}